<footer>
    <div class="container">
      <div class="row">
     <div class="col-md-4">
         <h3>About Us</h3><hr>
         <p>Inway Hosting is a India's Leading Web Hosting Solutions Provider.At Inway Hosting, we’ve been assisting people develop excellent web applications on the web.</p>
     </div>
     <div class="col-md-4">
      <h3>QUICK LINKS</h3><hr>
      <ul>
        <li class="nav-item" routerLinkActive = "active" [routerLinkActiveOptions] =" {exact:true}">
          <a class="nav-link" routerLink="/sidebar"  >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive = "active">
          <a class="nav-link" routerLink="/feature">About Us</a>
        </li>
        <li class="nav-item" routerLinkActive = "active">
          <a class="nav-link" routerLink="#" >Our Service</a>
        </li>
        <li class="nav-item" routerLinkActive = "active">
          <a class="nav-link" routerLink="#" >Contact Us</a>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>Address</h3><hr>
      <p>Inway Communications,<br>
        No.301, 3rd Floor, Busi Nestle, 5th Street Extn,<br>
        Near Kalyan Jewellers, Gandhipuram,<br> Coimbatore – 641012.</p>
    </div>
  
      </div>
    </div>
  </footer>
  
