<div class="inner-banner-image">
     <img src="assets/inner-banner.jpg">
</div>
<input type="text" id="number1">
<input type="text" id="number2">
<button id="add" (click)=" add.addNumbers()">Add</button>
<div class="about padding">
     <div class="container">
          <h2>About Us</h2>
     <div class="row">
          <div class="col-md-12">
              <p>Inway Hosting is a India's Leading Web Hosting Solutions Provider.At Inway Hosting, we’ve been assisting people develop excellent web applications on the web.</p>
            <p>At Inway Hosting, we have created a shared website hosting system that's both rich in features and easy to make use of.

               Our developers have designed a custom-made Linux cloud web hosting platform and an innovative Web Control Panel that completely takes advantage of its capabilities.
               
               After long hours of programming and QA testing on our side, we're right now prepared to ensure that all our shared website hosting services are safe, virus-proof, loaded with functionalities and simple-to-work-with. Furthermore, they have 99.9% server uptime plus 99.9% network uptime guarantees.</p>
          </div>
     </div>
       
     </div>
</div>
<div class="features">
     <div class="container">
          <h4>A Unique Web Hosting Platform</h4>
       <div class="row">
          <div class="col-md-8">
             <p>Operating a completely new web hosting platform from the beginning can be quite an intricate job. The good news is, we’ve got some wonderful web developers doing work for us and as a consequence to their support and dedication, we built our fantastic cloud hosting platform.</p>
             <p>Our Web hosting platform is created to operate in a hardware/software environment configured by us. This has allowed us to build an even more dependable platform, which is completely virus–free. This is why, we do guarantee you a 99.9% uptime warranty with all our cloud hosting offers.</p>
          </div>
          <div class="col-md-4">
               <img src="./assets/unique-hosting.jpg">
          </div>
       </div>
       <p></p>
       <h4>Client Area & cPanel Control Panel</h4>
       <div class="row">
          <div class="col-md-4">
               <img src="./assets/cpanel.jpg">
          </div>
          <div class="col-md-8">
             <p>A dedicated client area will be provided to all clients to manage their account with us with in built support and transactions management.</p>
             <p>The cPanel Web Control Panel is worlds No.1 web hosting control panel. It is just one place from where you’ll be able to maintain all your hosted domain names and your sites plus your files and email management. On our Client Area, you can ask for tech support, upgrade your hosting service, etc. It’s made to stay in the cloud and it’s provided with our web hosting solutions – shared website hosting plans packages, unlimited hosting servers, application hosting servers, SSL Certificates.</p>
             <p>One more great good thing about the Web Control Panel is that it offers a great deal of great tools and bonuses, which can help you control your sites. Our File Manager can make you just forget about any FTP clients, considering it enables you to securely transmit files by just dragging them to your Internet browser. Our Web App Installer assists you to deploy 150+ popular apps with a click. And also Easy Website Installer will let you set up a customized web site and take it online within just 5 minutes, in precisely 4 basic steps.</p>
          </div>
         
       </div>
       <p></p>
       <h4>Customer Support</h4>
       <div class="row">
          <div class="col-md-8">
             <p>Regardless of how successfully you deal with your sites, there comes a time when you simply must get hold of the support staff. And when you are to wait for numerous hours so they can get back to you, you are going to have a bad time.</p>
             <p>At Inway Hosting, we’ve put into practice a customer–centric method. Once you contact us, we’re going to answer back as quick as possible, it’s guaranteed. Plus, our technicians usually answer back in under 1 hour. Plus, they’re extremely skilled – all of our techs have not less than a few years of practical experience behind them. This suggests instant, high–quality replies.</p>
          </div>
          <div class="col-md-4">
               <img src="./assets/customer-support.jpg">
          </div>
       </div>
       <p></p>
     </div>
</div>
