<div class="inner-banner-image">
    <img src="./assets/inner-banner.jpg">
</div>
<h2>Services</h2>
<div class="services">
    <div class="container">
        <h3>Web hosting</h3>
        <div class="row">
            <div class="col-md-4">
                <img src="./assets/amazon-hosting.jpg">
                <h4>Amazon hosting</h4>
                
            </div>
            <div class="col-md-4">
                <img src="./assets/corporate-hosting.jpg">
                <h4>Corporate hosting</h4>
            </div>
            <div class="col-md-4">
                <img src="./assets/unlimited-hosting.jpg">
                <h4>Unlimited Web hosting</h4>
            </div>
        </div>
       <br>
        <div class="row">
            <div class="col-md-2">
                
            </div>
            <div class="col-md-4">
                <img src="./assets/cloud-hosting.jpg">
                <h4>Cloud hosting</h4>
            </div>
            <div class="col-md-4">
                <img src="./assets/reseller-hosting.jpg">
                <h4>Reseller hosting</h4>
            </div>
           
        </div>
    </div>
<hr>
    <div class="container padding">
        <h3>Specialized hosting</h3>
        <div class="row">
            <div class="col-md-4">
                <img src="./assets/wordpress-hosting.jpg">
                <h4>Wordpress hosting</h4>
            </div>
            <div class="col-md-4">
                <img src="./assets/joomla.jpg">
                <h4>Joomla hosting</h4>
            </div>
            <div class="col-md-4">
                <img src="./assets/drupal.jpg">
                <h4>Drupal hosting</h4>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                
            </div>
            <div class="col-md-4">
                <img src="./assets/e-commmerce.jpg">
                <h4>E-commmerce hosting</h4>
            </div>
            <div class="col-md-4">
                <img src="./assets/application.jpg">
                <h4>Application hosting</h4>
            </div>
           
        </div>
    </div>
</div>
