.services h3{
   text-align:center;
   padding:30px 0px;
}
h2{
    text-align:center;
    padding-top:20px;
 }
.services h4{
    text-align:center;
    padding-top:10px;
}
img{
    width:100%;
}
.services img{
    box-shadow: -1px -5px 22px 0px rgba(0,0,0,0.75);
}